<div class="container">

  <form autocomplete="off">
    <br>
    <br>

    <div class="ui-g">

      <div class="ui-g-12">
        <i class="pi pi-bookmark">Novo Lançamento</i>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [locale]="pt" name="vencimento" ngModel
          #vencimento="ngModel" required placeholder="dd/mm/ano"></p-calendar>

        <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [locale]="pt" placeholder="dd/mm/ano"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5"
          placeholder="Descrição para este Lançamento.">

        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>

        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}">
        </app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input type="text" pInputText placeholder="0,00" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" name="valor" ngModel
          #valor="ngModel" />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" name="categoria" ngModel #categoria="ngModel"
          required></p-dropdown>

        <app-message [control]="categoria" error="required" text="Informe uma das categorias"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" name="pessoa" ngModel #pessoa="ngModel"
          required></p-dropdown>

        <app-message [control]="pessoa" error="required" text="Informe uma das pessoas"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea row="3" placeholder="Observação para este Lançamento."></textarea>
      </div>

      <div class="ui-g-12" id="">
        <button pButton type="submit" label="Salvar" class="salvarButton" [disabled]="" icon="pi pi-save"></button>
        <button pButton type="button" label="Novo" class="novoButton" icon="pi pi-plus"></button>
        <button pButton type="button" class="voltarButton" icon="pi pi-arrow-circle-left" pTooltip="Voltar para a pesquisa"></button>
        <!-- <a href="javascript:;" class="voltarLink">Voltar para a pesquisa</a> -->
      </div>

    </div>

  </form>

</div>
