<div class="container">
  <br>
  <br>

  <div class="ui-g">

    <div class="ui-g-12">
      <i class="pi pi-bookmark">Pessoas</i>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText placeholder="Buscar nome" />
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" icon="pi pi-search"></button>
    </div>

  </div>

  <div class="ui-g">

    <div class="ui-g-12">

      <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>

    </div>

    <div class="ui-g-12">
      <button pButton label="Nova Pessoa" icon="pi pi-plus"></button>
    </div>

  </div>

</div>
